{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col text-center">
                <h2 class="text-uppercase">Your shopping cart</h2>
            </div>
        </div>
        <div class="row">
            <hr class="w-100">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            {% else %}
               <div class="ml-3">
                    <p class="lead">Nothing to find here.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark rounde-2">
                        <span class="icon">
                            <i class="fa-solid fa-hand-point-left"></i>
                        </span>
                        <span class="text-uppercase">Back to store</span>
                    </a>
               </div> 
            {% endif %}
        </div>
    </div>
{% endblock %}