<form action="" class="form update-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty btn back-store-btn decrement-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}" aria-label="Decrese quantity">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </button>
            </div>
            <input type="number" class="form-control qty_input id_qty_{{ item.item_id }}"
                aria-label="quantity" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn back-store-btn increment-qty_{{ item.item_id }}"
                    data-item_id="{{ item.item_id }}" aria-label="Increse quantity">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>