{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-50 push-down">
            <div class="col-7 col-md-6 bg-orange my-auto shadow ">
                <h1 class="display-5 logo-font text-black">
                    Welcome
                </h1>
                <p>
                    Dragons Nest Gaming is a Friendly Local Games Store in the central of Stavanger.
                    We offer everything you need for tabletop gaming.
                    Our main specialization is Magic the Gathering, Norways only WPN premium store.
                </p>
                <div>
                    <a href="{% url 'products' %}" class="start-shop-btn btn btn-lg rounded-2 text-uppercase mb-2">Start Shopping</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}