html {
    height: 100%;
}

body {
    background: url('/media/magic_home_background2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font-family: 'K2D', sans-serif;
    font-size: medium;
}

.header-container {
    padding-bottom: 300px;
}

.push-down {
    padding-top: 25%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

/* from boutiq ado */ 

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-yellow {
    color: rgb(235, 235, 94);
}

.border-orange {
    border: 3px solid #f29100
}

.btn-orange {
    background: #f29100;
    color: #000;
}

.bg-orange {
    background: rgba(245, 145, 0, 0.8);
}

.img-div > a img {
    width: 200px;
    height : 200px;
    max-height: 100%;
    max-width: 100%;
}

.start-shop-btn {
    background: #000;
    color: #f29100;
    min-width: 260px;
}

.start-shop-btn:hover {
    background: #f29100;
    color: #000;
    border:#000 solid 1px;
}

.add-cart-btn {
    background: #f29100;
    color: #000;
}

.add-cart-btn:hover {
    background: #000;
    color: #f29100;
}

.back-store-btn {
    border:#000 solid 1px;

}

.back-store-btn:hover {
    border:#000 solid 1px;
    background: #000;
    color: white;
}

.quantity-btn {
    padding: 6px 3px;
}

.back-to-top-btn {
    position: fixed;
    height: 42px;
    width: 42px;
    bottom: 10px;
    right: 10px;
}

.quantity-input {
    padding: 6px 0px 6px 6px;
}

.sub-tag {
    position: absolute;
    top: 0;
    right: 0;
}

.deal-tag {
    font-size: larger;
}

.back-to-top-link,
.update-item,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}