html {
    height: 100%;
}

body {
    background: url('/media/magic_home_background2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font-family: 'K2D', sans-serif;
    font-size: medium;
}

.header-container {
    padding-bottom: 300px;
}

.allauth-down {
    padding-top: 300px;
}

.push-down {
    padding-top: 25%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

/* from boutiq ado */ 

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-yellow {
    color: rgb(235, 235, 94);
}

.border-orange {
    border: 3px solid #f29100
}

.btn-orange {
    background: #f29100;
    color: #000;
}

.bg-orange {
    background: rgba(245, 145, 0, 0.8);
}

.img-div > a img {
    width: 200px;
    height : 200px;
    max-height: 100%;
    max-width: 100%;
}

.start-shop-btn {
    background: #000;
    color: #f29100;
}

.start-shop-btn:hover {
    background: #f29100;
    color: #000;
    border:#000 solid 1px;
}

.add-cart-btn {
    background: #f29100;
    color: #000;
}

.add-cart-btn:hover {
    background: #000;
    color: #f29100;
}

.back-store-btn {
    border:#000 solid 1px;

}

.back-store-btn:hover {
    border:#000 solid 1px;
    background: #000;
    color: white;
}

.quantity-btn {
    padding: 6px 3px;
}

.back-to-top-btn {
    position: fixed;
    height: 42px;
    width: 42px;
    bottom: 10px;
    right: 10px;
}

.quantity-input {
    padding: 6px 0px 6px 6px;
}

.sub-tag {
    position: absolute;
    top: 0;
    right: 0;
}

.deal-tag {
    font-size: larger;
}

.back-to-top-link,
.update-item,
.remove-item {
    cursor: pointer;
}

/* toast */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid var(--black);
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colours copied from bootstrap */
.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.center {
    margin: auto;
}

/*----- ALLAUTH FORMS -----*/
/* Allauth form formatting */
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: gray;
}

.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    
    /* Standard Bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input [type='submit']:hover {
    color: #f29100;
    background-color: #000;
    border-color: #f29100;
}

.btn-outline-danger:hover {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}