<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2" id="card-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Card Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?category=magic_the_gathering" class="dropdown-item">Magic The Gathering</a>
                <a href="{% url 'products' %}?category=pokemon" class="dropdown-item">Pokémon</a>
                <a href="{% url 'products' %}?category=others_card" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=sleeves,dice,deckboxes_and_binders" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=sleeves,dice,deckboxes_and_binders,magic_the_gathering,pokemon,other_card" class="dropdown-item">All Card Games Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2" id="board-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?category=family_games" class="dropdown-item">Family Games</a>
                <a href="{% url 'products' %}?category=party_games" class="dropdown-item">Party Games</a>
                <a href="{% url 'products' %}?category=kids_games" class="dropdown-item">Kids Games</a>
                <a href="{% url 'products' %}?category=solo_mode_games" class="dropdown-item">Solo Mode Games</a>
                <a href="{% url 'products' %}?category=co-op_games" class="dropdown-item">Co-Op Games</a>
                <a href="{% url 'products' %}?category=family_games,party_games,kids_games,solo_mode_games,co-op_games" class="dropdown-item">All Board Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2" id="miniature-games-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miniature Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?category=warhammer_40k" class="dropdown-item">Warhammer 40K</a>
                <a href="{% url 'products' %}?category=warhammer_age_of_sigmar" class="dropdown-item">Warhammer Age Of Sigmar</a>
                <a href="{% url 'products' %}?category=dice,paint_and_brushes" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=warhammer_40k, warhammer_age_of_sigmar,dice,paint_and_brushes" class="dropdown-item">All Miniature Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Game Accessories
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?category=dice" class="dropdown-item">Dice</a>
                <a href="{% url 'products' %}?category=paint_and_brushes" class="dropdown-item">Paint and Brushes</a>
                <a href="{% url 'products' %}?category=sleeves" class="dropdown-item">Sleeves</a>
                <a href="{% url 'products' %}?category=deckboxes_and_binders" class="dropdown-item">Deckboxes and Binders</a>
                <a href="{% url 'products' %}?category=dice,paint_and_brushes,sleeves,deckboxes_and_binders" class="dropdown-item">Game Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2" id="merch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?category=apparel" class="dropdown-item">Apparel</a>
                <a href="{% url 'products' %}?category=other_merch" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=apparel,other_merch" class="dropdown-item">All Merchandise</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black ml-2"   id="others-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
            </a>
            <div class="dropdown-menu shadow">
                <a href="{% url 'products' %}?sub_category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?sub_category=new_arrival" class="dropdown-item">New arrived</a>
                <a href="{% url 'calender:calendar' %}" class="dropdown-item">Events</a>
            </div>
        </li>
    </ul>
</div>