<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="board-games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Card Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="" class="dropdown-item"></a>
                <a href="" class="dropdown-item">Magic The Gathering</a>
                <a href="" class="dropdown-item">Pokémon</a>
                <a href="" class="dropdown-item">Other</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="board-games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="" class="dropdown-item">Family Games</a>
                <a href="" class="dropdown-item">Party Games</a>
                <a href="" class="dropdown-item">Kids Games</a>
                <a href="" class="dropdown-item">Solo Mode Games</a>
                <a href="" class="dropdown-item">Deckbulding Games</a>
                <a href="" class="dropdown-item">Co-Op Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="board-games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miniature Games
            </a>
            <div class="dropdown-menu shadow">
                <a href="" class="dropdown-item">Warhammer 40k</a>
                <a href="" class="dropdown-item">Warhammer Age Of Sigmar</a>
                <a href="" class="dropdown-item">Others</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="board-games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Merchandise
            </a>
            <div class="dropdown-menu shadow">
                <a href="" class="dropdown-item">Apparel</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black" id="board-games" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Game Accessories
            </a>
            <div class="dropdown-menu shadow">
                <a href="" class="dropdown-item">Dice</a>
                <a href="" class="dropdown-item">Paint</a>
                <a href="" class="dropdown-item">Brushes</a>
                <a href="" class="dropdown-item">Sleeves</a>
                <a href="" class="dropdown-item">Deckboxes and Binders</a>
                <a href="" class="dropdown-item">Other</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5">
                Events
            </a>
        </li>
    </ul>
</div>