{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn add-cart-btn float-right" type="submit"> Edit event</button>
                </form>
                <a href="{% url 'calender:calendar' %}" class="btn back-store-btn float-left">Back to Calendar</a>
            </div>
        </div>
    </div>
{% endblock %}