{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-4 mt-3">
                <div class="card" style="width: 18rem;">
                    {% if event.event_image %}
                            <img class="card-img-top" src="{{ event.event_image.url }}" alt="{{ event.title }}">
                    {% endif %} 
                    <div class="card-body">
                      <h5 class="card-title">{{ event.title }}</h5>
                      <p class="card-text">{{ event.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{ event.start_time }}</li>
                    </ul>
                    <div class="card-body">
                        {% if request.user.is_superuser %}
                        <div class="mb-2">
                            <small>
                                <a class="btn btn-success" href="{% url 'calender:edit_event' event.id %}">Update</a>
                                <button type="button" data-toggle="modal" data-target="#deleteModal-{{ event.id }}" class="btn btn-danger ml-3"
                                    aria-label="edit event button">
                                    Delete
                                </button>
                            </small>
                        </div>
                        <div class="modal" tabindex="-1" role="dialog" id="deleteModal-{{ event.id }}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Event</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"  aria-label="close modal button">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete {{ event.title }}!</p>
                                        <p>This is permanent and can not be undone!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'calender:delete_event' event.id %}" class="btn btn-outline-danger my-2"  aria-label="Delete">
                                            <span class="mr-2"><i class="fa-solid fa-trash-can"></i></span>
                                            <span>Delete event</span>
                                        </a>
                                        <button type="button" class="btn back-store-btn" data-dismiss="modal"  aria-label="back">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                  </div>
                  <a href="{% url 'calender:calendar' %}" class="btn back-store-btn float-left">Back to Calendar</a>
            </div>
        </div>
        
    </div>
{% endblock %}
