{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container push-down">
        <div class="row d-flex">
            <div class="col text-center">
                <h2 class="text-uppercase test">Edit Review</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'edit_rating' rating.id %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <a href="{% url 'rating' %}" class="btn back-store-btn my-2">
                            <span><i class="fa-solid fa-xmark"></i></span>
                            <span>Cancel</span>
                        </a>
                        <button class="btn btn-outline-success my-2" type="submit">
                            <span><i class="fa-solid fa-plus"></i></span>
                            <span>Edit Review</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}