{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col text-center">
                <h2 class="text-uppercase test">Rating and Reviews</h2>
            </div>
        </div>
        <div class="row">
            {% if user_ratings %}
                {% for rating in user_ratings %}
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            {% if rating.review_title %}
                                <h4 class="bg-orange card-header text-center text-uppercase">{{ rating.product }}</h4>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ rating.review_title }}</h3>
                                <p><i class="fa-solid fa-star"></i>{{ rating.rating }} /5</p>
                                {% if rating.review %}
                                    <p>{{ rating.review }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer text-uppercase text-center">
                                <p>Writen by: {{ rating.user_profile}}</p>
                            </div>
                            <a href="{% url 'edit_rating' rating.id %}" class="btn btn-success">Edit Review</a>
                            <button type="button" data-toggle="modal" data-target="#deleteModal-{{ rating.id }}" class="btn btn-danger">
                                Delete Review
                            </button>
                            </div>
                            <div class="modal" tabindex="-1" role="dialog" id="deleteModal-{{ rating.id }}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Review</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this review</p>
                                            <p>This is permanent and can not be undone!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'delete_rating' rating.id %}" class="btn btn-outline-danger my-2">
                                                <span class="mr-2"><i class="fa-solid fa-trash-can"></i></span>
                                                <span>Delete Product</span>
                                            </a>
                                            <button type="button" class="btn back-store-btn" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no ratings or reviews</p>
            {% endif%}
            <a href="{% url 'products' %}" class="btn back-store-btn rounden-2 mb-2">
                <span class="icon">
                    <i class="fa-solid fa-hand-point-left"></i>
                </span>
                <span class="text-uppercase">Back to store</span>
            </a>
            </div>
        </div>
    </div>
{% endblock %}