{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col text-center">
                <h2 class="text-uppercase test">Rating and Reviews</h2>
            </div>
        </div>
        <div class="row">
            {% if user_ratings %}
                {% for rating in user_ratings %}
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            {% if rating.review_title %}
                                <h4 class="bg-orange card-header text-center text-uppercase">{{ rating.product }}</h4>
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ rating.review_title }}</h3>
                                <p><i class="fa-solid fa-star"></i>{{ rating.rating }} /5</p>
                                {% if rating.review %}
                                    <p>{{ rating.review }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer text-uppercase text-center">
                                <p>Writen by: {{ rating.user_profile}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no ratings or reviews</p>
            {% endif%}
            </div>
        </div>
    </div>
{% endblock %}